<div>/views/home.liquid</div>
<div>LionRockJS starter 0.0.1 installed</div>
<hr>
<div id="out"></div>
<script>
    const data = `{{ data }}`;
    const obj = JSON.parse(data);
    console.log(obj.order);
    document.getElementById('out').innerHTML = obj.order.map(it => `<div>${it}</div>`).join('');

</script>