<div class="input-group mb-2">
  <span class="input-group-text input-group-icon"><i class="far fa-video"></i></span>
  <input class="form-control" type="text" name="{{ selector }}" value="{{ value }}" id="field-{{ label }}-url" placeholder="{{ placeholder | default: label }}"/>
</div>