<div id="tab-bar">All</div>
<div id="search">
    <select>
        <option>Filter</option>
    </select>
    <input type="text" placeholder="Search {{ type.tableName }}"/>
</div>
<div id="filter-rules"></div>
