<div class="my-4 sticky-bottom bg-white py-3">
    <a class="btn btn-danger" href="/admin/pages/delete/{{ item.id }}">Delete</a>
    <button type="submit" class="btn {% if published %}btn-secondary{% else %}btn-primary{% endif %} text-white">Save Draft</button>
    {% if published %}
        <button class="btn btn-primary text-white" type="submit" name="action" value="publish">Save</button>
    {% endif %}
</div>