{% assign page_id = page_id | default: "page_id" %}
{% assign index = index | default: "9999" %}

<div class="col-1 text-end">
    <button type="submit" class="btn btn-link" name="action" value="block-delete:{{ index }}"><i class="fal fa-times-hexagon"></i></button>
</div>